<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">

	<head>

		<meta charset='utf-8'> 
		<meta name="author" content="Erick José Jáquez Encarnación">
		<link rel="stylesheet" th:href="@{/css/bootstrap(Sketchy).css}">
		<meta name="viewport" content="width=device-width">
		<title> Practica 3 Quizz </title>

	</head>

	<body>
		<h1> ¿Que Personaje de "The Witcher" eres? </h1>
		<h3> Pregunta 2 </h3>
		<form th:action="@{/Quiz2}" method="POST">

			<p> ¿Cuál o Cuáles de estos géneros de literarios prefieres a la hora escoger un libro? </p>
			<input class="small" type="checkbox" name="librosN" value="10"> Narrativo <br>
			<input class="small" type="checkbox" name="librosLr" value="10"> Lírico <br>
			<input class="small" type="checkbox" name="librosDr" value="10"> Dramático <br>
			<input class="small" type="checkbox" name="librosDd" value="10"> Didáctico <br>

			<br>

			<fieldset> 
				<legend> Enviar Respuesta </legend>
				<p> ¿Estás seguro de tú respuesta? </p>

				<input type="Submit" value="Si">
				<input type="Reset" value="No">
			</fieldset>

		</form>
	</body>
</html> 